body {
    font-family: sans-serif;
     background-image: linear-gradient(#5B99C2,#cbe1f0, white);
}

header{
    margin-bottom: 15px;
   
}

.link-header{
    border: 5px blue groove;
    padding: ;
    text-decoration: none;
    padding: 2px 3px;
}

.link-header:hover{
    border: 8px blue groove;
}

.link-nav{
    text-decoration: none;
    color: black;
    padding: 3px 0px;
}


nav{
    display:flex;
    justify-content: space-around;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.link-nav:hover{
    border-top: 5px #1F316F solid;
    border-bottom: 5px #1F316F solid;
}

main img:hover{
    transform: scale(2);
    transition: 4s linear;
}
